<h1>Query Data</h1>
<div id="sidebar" class="ui left sidebar vertical floating active">

	<a class="header item">
	 <i class="add sign icon link icon"></i>Table</a>
	 <div class="ui fluid vertical menu">

      <div class="header large item">
        <i class="table icon"></i>
        Customer
      </div>
        <div class="menu">
          <a class="item">ID</a>
          <a class="item">Name</a>
          <a class="item">Email</a>
        </div>
      <div class="header item">
        <i class="table icon"></i>
        Purchases
      </div>
        <div class="menu">
          <a class="item">ID</a>
          <a class="item">Name</a>
          <a class="item">Email</a>
        </div>
      <div class="header item">
        <i class="table icon"></i>
        Items
      </div>
      <div class="menu">
          <a class="item">ID</a>
          <a class="item">Name</a>
          <a class="item">Email</a>
       </div>
     </div>
</div>

	<div>Data
		<p><%= @schema %> </p>
		<script>
			var data = <%= @data.to_json.html_safe %>;
		</script>
	</div>


<pre>

  <%= @data %>
</pre>

