<h1>Query Data</h1>

<%= javascript_include_tag "table" %> 

<div class="ui black huge launch right attached button" style="width: 70px;">
      <i class="icon list layout"></i>
      <span class="text" style="display: none;">Sources</span>
</div>

<div id="sidebar" class="ui left sidebar vertical floating">

	 <h1 class="ui header">Select Data<h1>
	 <div class="ui fluid vertical menu">
	 	 <% @schema.each do |title, table| %>
      <div class="header large item">
        <i class="table icon"></i>
        <%= title.capitalize %>
      </div>
      <% i = 0 %>
      <% while i + 2 < table.length %>
        <div class="menu">
          <a class="item"><%= table[i][0]%></a>
          <% i += 1 %>
        </div>
      <% end %>
     <% end %>
    </div>
</div>
		<script>
			var data = <%= @data.to_json.html_safe %>;

		</script>
	</div>

<!-- DARWISH CODE -->
<div>
  <div id="grid-container"> 
    <div id="table" class="handsontable" style="overflow: scroll"></div>
    <textarea class="formula-builder"> </textarea>
  </div> 
</div>

