<%= javascript_include_tag "table" %> 
<h1 class="ui header">Query Data</h1>

<div class="ui right floated black launch button">
        <i class="list layout icon"></i> Sources
      </div>

<div id="sidebar" class="ui left sidebar vertical floating">

	 <h1 class="ui header">Select Data<h1>
	 <div class="ui fluid vertical menu accordian">
	 	 <% @schema.each do |title, table| %>
      <div class="header large item">
        <i class="table icon"></i>
        <%= title.capitalize %>
      </div>
      <div class="content menu">
      <% i = 0 %>
      <% while i + 2 < table.length %>
          <a class="teal item"><%= table[i][0]%></a>
          <% i += 1 %>
      <% end %>
      </div>
     <% end %>
    </div>
    <div class="ui horizontal divider">
</div>
		<script>
			var data = <%= @data.to_json.html_safe %>;

		</script>
	</div>

<!-- DARWISH CODE -->
<div>
  <div id="grid-container"> 
    <div id="table" class="handsontable" style="overflow: scroll"></div>
    <textarea class="formula-builder"> </textarea>
  </div> 
</div>

