/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require handsontable_rails
 *= require table
 */

@import "semantic-ui";


html,
body {
  font-size: 12px;
}

body{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif */;
  background: #FCFCFC url(../images/bg.jpg) repeat;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif */;;
}

.segment {
  margin: 0px 0px 3em;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

/* line 106, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/semantic-ui-sass-0.13.0.0/app/assets/stylesheets/semantic-ui/collections/_grid.scss */
.ui.page.grid {
  min-width: 320px;
  margin-left: 0%;
  margin-right: 0%;
}

@media only screen and (max-width: 991px) {
  /* line 113, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/semantic-ui-sass-0.13.0.0/app/assets/stylesheets/semantic-ui/collections/_grid.scss */
  .ui.page.grid {
    padding: 0% 2%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 119, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/semantic-ui-sass-0.13.0.0/app/assets/stylesheets/semantic-ui/collections/_grid.scss */
  .ui.page.grid {
    padding: 0% 2%;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 125, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/semantic-ui-sass-0.13.0.0/app/assets/stylesheets/semantic-ui/collections/_grid.scss */
  .ui.page.grid {
    padding: 0% 2%;
  }
}
@media only screen and (min-width: 1750px) {
  /* line 131, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/semantic-ui-sass-0.13.0.0/app/assets/stylesheets/semantic-ui/collections/_grid.scss */
  .ui.page.grid {
    padding: 0% 2%;
  }
}
@media only screen and (min-width: 2000px) {
  /* line 137, ../../../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/semantic-ui-sass-0.13.0.0/app/assets/stylesheets/semantic-ui/collections/_grid.scss */
  .ui.page.grid {
    padding: 0% 2%;
  }
}