/*#grid-container{
	width: 1200px;
	height: 500px;
}

#table{
	float: left;
}

.formula-builder{

	width: 200px;
	height: 150px;

};*/

.handsontable th{
	background-color: #ECF0F1 !important;
	/*color: #ECF0F1 !important;*/
}

.ui.selection.dropdown.ui.segment.column_name_dropdown{
	margin-left: 60px;
}

.ui.green.buttons .button, .ui.green.button{
	background-color: #16A085;
	margin-right: 3px;
	border-radius: 3px;
}

.ui.green.buttons .button:hover, .ui.green.button:hover, .ui.green.buttons .active.button, .ui.green.button.active{
	background-color: #1ABC9C;
	color: white;
}

.ui.black.buttons .button, .ui.black.button, .actions .ui.button{
	background-color: #34495E;
	color: white;
}

.ui.black.buttons .button, .ui.black.button:hover, .actions .ui.button:hover {
	background-color: #416283;
}

.ui.menu .header.item{
	background-color: #BDC3C7;
}

#table_container{
	margin-left: 2%;
	margin-top: 1.5%;
	margin-right: 2%
}

.ui.three.column.grid.filter-criteria .column{
	/*margin-left: 30px;*/
	width: 200px
}

#filter-container{
	margin-left: 2%;
	margin-right: 20%;
	margin-top: 1.5%;
	background-color: #ECF0F1;
	width: 93%;
	padding: 15px 16px;
	border-radius: 5px;
}

.actions{
	text-align: right ;
}

.ui.segment{
	border: none;
}
