#grid-container{
	width: 1200px;
	height: 500px;
}

#table{
	/*float: left;*/
}

.formula-builder{

	width: 200px;
	height: 150px;
}

.filter-criteria input{
	height: 100px;
	width: 100%;
	border-radius: 5px;
}

